<script src = "script.js"></script>

<h1>Edit an exercise</h1>
 

<form id = "editEx" action = "http://52.32.212.47:2500/" method = "post">
<fieldset>
<legend>Edit exercise</legend>

		Name: <input type = "text" name = "editName" id = "editName" value = "{{name}}"></input><br><br>
		Reps: <input type = "number" name = "editReps" id = "editReps" value = "{{reps}}"></input><br><br>
		Weight: <input type = "text" name = "editWeight" id = "editWeight" value = "{{weight}}"></input><br><br>
		Date (MUST CHANGE TO YYYY-MM-DD FORMAT BEFORE SUBMITTING): <input type = "text" name = "editDate" id = "editDate" value = "{{date}}"></input><br><br>
		Lbs/Kgs (1 for Lbs, 0 for Kgs): <input type = "text" name = "editLbs" id = "editLbs" value = "{{lbs}}"></input><br><br>
				<input name = "rowID" id = "rowID" value = "{{id}}" hidden></input>
		<input type = "submit" name = "submitEdit" id = "submitEdit" value = "Save changes"></input>

</fieldset>
</form>

