<script src = "script.js"></script>

<h1>Edit an exercise</h1>
 
<input id = rowID value = "{{info.id}}" hidden></input>
<form id = "editEx">
<fieldset>
<legend>Edit exercise</legend>
		Name: <input type = "text" name = "editName" id = "editName" value = "{{info.name}}"></input><br><br>
		Reps: <input type = "number" name = "editReps" id = "editReps" value = "{{info.reps}}"></input><br><br>
		Weight: <input type = "text" name = "editWeight" id = "editWeight" value = "{{info.weight}}"></input><br><br>
		Date (YYYY-MM-DD): <input type = "text" name = "editDate" id = "editDate" value = "{{info.date}}"></input><br><br>
		Lbs/Kgs (1 for Lbs, 0 for Kgs): <input type = "text" name = "editLbs" id = "editLbs" value = "{{info.lbs}}"></input><br><br>
		<input type = "button" name = "submitEdit" id = "submitEdit" value = "Save changes" onclick = "{{info.id}}"></input>

</fieldset>
</form>

